@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="login">
    <div class="container">

        <img src="~/img/Sopra_Steria_logo.svg" alt="" class="logo" />

        <div class="alert alert-danger login_feedback">
            Fel användarnamn eller lösenord
        </div>

        <form id="login_form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="password" class="form-control" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked> Håll mig inloggad
                </label>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default btn-primary btn-block" value="Logga in" />
            </div>
        </form>
    </div>
</div>

<div class="row" id="calendar">
    <div class="container">
        <p>Du är inloggad som: <span id="logged_in_as"></span></p>
        <div id="warning">

        </div>
        <div class="calendar_month">
            <header>
                <i class='fas fa-spinner'></i>
            </header>
            <div class="dates">
                <i class='fas fa-spinner'></i>
            </div>
        </div>
    </div>
</div>
