html,
body {
  height: 100%;
}

body {
  background: #eee;
}

header {
  padding: 2rem 0;
  background: #fff;
}

.logo {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#login {
  background: #fff;
}

#login #login_form {
  padding: 2em 0;
}

#calendar {
  background: #fff;
  display: none;
}

.calendar_month header {
  text-align: center;
}

.calendar_month .dates {
  display: flex;
}

.calendar_month header {
  justify-content: space-around;
  padding: 1rem 0;
}

.calendar_month .dates {
  flex-wrap: wrap;
  justify-content: start;
  font-size: 0.75rem;
}

.calendar_month header .day,
.calendar_month .dates .date {
  width: 14%;
}

.calendar_month .dates .date {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  border: 1px solid #ccc;
}

.calendar_month .dates .date .registered,
.calendar_month .dates .date .day_of_month {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.calendar_month .dates .date .day_of_month {
  justify-content: end;
  font-weight: normal;
}
